/*PRODUCT INDEX PAGE*/
.grid-view th, .grid-view td {
    max-width: 200px;
    overflow: hidden;
    text-align: center;
}

/*TABS*/
div#tabs {
    border: none !important;
}
ul.nav-tabs {
    background: #fff;
    border: none !important;
}
ul.nav-tabs li a {
    width: 100% !important;
}

/*ALERT WIDGET*/
div.alert-fade {
    position: fixed;
    top: 100px;
    right: 50px;
    animation-name: alert-animation;
    animation-duration: 1s;
    z-index: 9999;
}
div.alert-fade button, div.alert-fade button:hover {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: -15px;
    margin-top: -15px;
    color: transparent;
    opacity: 0;
}
@keyframes alert-animation {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}